$post_date: #F4A4BC;
$post_text: #CCD1D3;
$back-drop: white;
$back-drop-light: rgba(255, 255, 255, 0.603);

$submit_button: rgb(228, 126, 174);
$reply_button: rgb(224, 224, 224);

$dark_grey: #8C8C8C;
$light_grey: #F4F4F4;
$underline: rgba(244, 244, 244, 0.568);



$post_text_font: 'Lato', sans-serif;
$post_text_title_font: 'Playfair Display', serif;

